## Conditions, Control Flow, and Looping

In [1]:
a = 10
b = 20

print(a == b)
print(a != b)
print(a <= b)
print(a >= b)
print(a > b)
print(a < b)

False
True
True
False
False
True

#  Statement

In [2]:
if a != b:
    print("a tidak sama dengan b")

a tidak sama dengan b

In [3]:
if a == b:
    print("a tidak sama dengan b")

In [4]:
if a == b:
    print(a)
    print(a/10)
    print(b)
    print("a tidak sama dengan b")

In [5]:
if 'foo' in 'This is our goods':
    print('foo exists')

In [6]:
list1 = [10,50,30,40]

if 20 in list1:
    print('ada 20 di dalam')

In [7]:
if a != b:
    print(a)
    print(a/10)
    print(b)
    print("a tidak sama dengan b")

print('ini di luar if statement')

10
1.0
20
a tidak sama dengan b
ini di luar if statement

In [8]:
if a != b:
    print(a)
    print(a/10)
    print(b)
    print("a tidak sama dengan b")

print('ini di luar if statement')

10
1.0
20
a tidak sama dengan b
ini di luar if statement

In [9]:
a = 50
b = 20

if a != b:
    print('a tidak sama dengan b')
    if a < b:
        print('a lebih kecil dari b')
    
    print('statement di dalam if pertama tapi di luar if kedua')

    if a > b:
        print('a lebih besar dari b')

a tidak sama dengan b
statement di dalam if pertama tapi di luar if kedua
a lebih besar dari b

In [10]:
a = 20
b = 20

if a != b:
    print('a tidak sama dengan b')
else:
    print('a sama dengan b')

a sama dengan b

In [11]:
a = 50
b = 50

if a == b:
    print('a sama dengan b')
elif a % b == 0:
    print('a habis dibagi b')
elif a>b:
    print('a lebih besar dari b')

a sama dengan b

In [12]:
if a==b: print('a sama dengan b'); print('print kedua')
elif a>b: print('a lebih besar dari b')
else: print('a lebih kecil dari b')

a sama dengan b
print kedua

In [13]:
hujan = True

# 'di luar hujan' if hujan else 'di luar cerah'

print('Ayo pergi ke', 'pantai' if not hujan else 'cafe')

Ayo pergi ke cafe

In [14]:
umur = 15

if umur < 17:
    status_ktp = 'belum punya KTP'
else:
    status_ktp = 'sudah punya KTP'


status_ktp = 'belum punya KTP' if umur < 17 else 'sudah punya ktp'
status_ktp

'belum punya KTP'

In [15]:
a = 50
b = 30

if a>=b:
    m = a
else:
    m = b

print(m)

50

In [16]:
if a > b:
    pass

print('masuk sini')

masuk sini

In [17]:
if 'foo' in 'This is our foods':
    print('ada foo')

list1 = [10,20,30,40]

if b in list1:
    print('ada a')

ada foo
ada a

# Looping

## While Loop

In [18]:
a = 10

while a > 0:
    print(a)
    # a = a -1
    a -= 1

10
9
8
7
6
5
4
3
2
1

In [19]:
i = 0
while i < 10:
    print(i)
    i += 2 # i = i + 2

0
2
4
6
8

In [20]:
i = 0
while i < 10:
    if i == 3:
        break
    print(i)
    i += 1 # i = i + 1

print('di luar loop')

0
1
2
di luar loop

In [22]:
i = 0
while i < 10:
    i += 1 # i = i + 1
    if i == 3:
        break    
    print(i)    

print('di luar loop')

1
2
di luar loop

In [23]:
i = j = 0

while i < 10:
    j = 0
    while j < 10:
        print(i, end=' ')
        j+=1
    print()
    i+=1

0 0 0 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9 9

In [24]:
i = 0
while i < 10:
    i += 1 # i = i + 1
    if i == 3:
        break    
    print(i)
else:
    print('Akhir Loop')

print('di luar loop')

1
2
di luar loop

In [25]:
list2 = ['abc', 'def', 'hija', 'klm']

for i in list2:
    print(i)
    print(len(i))

abc
3
def
3
hija
4
klm
3

In [26]:
dictionary1 = {
    'pertama': 1,
    'kedua': 2,
    'ketiga': 3,
    'keempat': 4
}

for key in dictionary1:
    print(key)
    print(dictionary1[key])

pertama
1
kedua
2
ketiga
3
keempat
4

In [27]:
for number in (0,1,2,3,4):
    print(number)

0
1
2
3
4

In [28]:
for number in range(5):
    print(number)

0
1
2
3
4

In [29]:
for number in range(0,10,2):
    print(number)

0
2
4
6
8

In [30]:
# i = 0
# while i < 10:
#     i += 1 # i = i + 1
#     if i == 3:
#         break    
#     print(i)

for i in range(1,11):
    if i == 3:
        break
    print(i)

1
2

In [31]:
for i in range(1,11):
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9
10

In [32]:
for i in range(1,11):
    if i == 3:
        break
    print(i)
else:
    print("Loop Selesai")

1
2

In [33]:
for i in range(1,11):
    if i == 3:
        continue
    print(i)
else:
    print("Loop Selesai")

1
2
4
5
6
7
8
9
10
Loop Selesai